# Makefile for libshopndrop
# Copyright (C) 2019 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := shopndrop

# to define $(SWS_INC)
include Makefile.Simple-Web-Server.mak

APP_BOOST_LIB_NAMES := system date_time regex

APP_THIRDPARTY_INCL_PATH = $(SWS_INC)

APP_THIRDPARTY_LIBS = -lcurl -lm -lstdc++ -lssl -lcrypto
APP_THIRDPARTY_LIBS_PATH =

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	daemons \
	restful_interface \
	http_server_wrap \
	scheduler \
	threcon \
	user_manager \
	anyvalue_db \
	anyvalue \
	config_reader \
	generic_request \
	generic_handler \
	serializer \
	password_hasher \
	session_manager \
	shopndrop_web_protocol \
	shopndrop_protocol \
	user_management_protocol \
	generic_protocol \
	basic_parser \
	basic_objects \
	user_reg_handler \
	user_reg_email \
	user_reg \
	templtext \
	user_reg_protocol \
	utils \
	periodic_call_gen \
