# Makefile for libshopndrop
# Copyright (C) 2019 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = core

LIB_BOOST_LIB_NAMES := system date_time regex

LIB_SRCC = \
	authenticator.cpp \
	config_extractor.cpp \
	epoch_now.cpp \
	core.cpp \
	db_order_db.cpp \
	db_ride.cpp \
	db_order.cpp \
	db_shopping_list.cpp \
	db_obj_generator.cpp \
	goodies_db.cpp \
	lead_db.cpp \
	perm_checker.cpp \
	handler.cpp \
	thunk.cpp \
	time_adjuster.cpp \

LIB_EXT_LIB_NAMES = \
	daemons \
	restful_interface \
	http_server_wrap \
	scheduler \
	threcon \
	user_manager \
	anyvalue_db \
	anyvalue \
	config_reader \
	generic_request \
	generic_handler \
	utils \
	serializer \
	password_hasher \
	session_manager \
	shopndrop_protocol \
	shopndrop_web_protocol \
	user_reg_protocol \
	user_management_protocol \
	generic_protocol \
	basic_parser \
	basic_objects \
	periodic_call_gen \
